.foot {
    flex: display;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: space-evenly;
    width: 100vw;
    height: 125px;
    bottom: 0px;
    background-color: black;
}

.footie {
    order: 1;
    bottom: 0px;
    min-width: 0px;
    width: 100px;
}